APP component
<table class="table" border="1">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>TotalPrice</th>
    <th>Add Stock</th>
  </thead>
  {{receivedTprc+"vr"}}
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
    <td>{{product.stock}}</td>
  <td><app-productdetail [productDetail]="product" 
   (childTprc)="receiveChild($event)" ></app-productdetail></td>
  <td><app-stock [productDetail]="product" 
    (updateProductStock)="updateProductStock($event);"></app-stock></td>
    </tr>
  </tbody>
</table>
